.header {
	display: inline-flex;
	font-size: calc(32px + 1vmin);
	color: white;
	background-color: rgba(#000, 0.9);
  align-items: center;
	justify-content: center;
}

.header-website {
	margin: 0px 25px 5px 5px;
}

.header-email {
	margin: 0px 25px 5px 5px;
}

.header-date-and-time {
	margin: 0px 5px 5px 160px;
}
