* { box-sizing: border-box; }
$duration: 250s;
$durationCrypto: 300s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap-text {
  
  position: fixed;
	bottom: 200px;
  width: 100%;
  overflow: hidden;
  height: 8rem;
  background-color: rgba(#000, 0.3); 
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {

    display: inline-block;
    height: 8rem;
    line-height: 8rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   	-webkit-animation-name: ticker;
           	animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 6rem;
      font-size: 6rem;
      color: white;
    }
  }
}

.ticker-wrap-crypto {
  
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 13rem;
  background-color: rgba(#000, 0); 
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {

    display: inline-block;
    height: 13rem;
    line-height: 1.7rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   	-webkit-animation-name: ticker;
           	animation-name: ticker;
    -webkit-animation-duration: $durationCrypto;
            animation-duration: $durationCrypto;
  }
}

body { 
	/* padding-bottom: 5rem; background-color: rgb(80, 80, 80) */
	padding-bottom: 5rem; background-color: rgb(66, 66, 66)
	}
	h1,h2,p {padding: 0 5%;
}

.slide-show-container {
	align-items: center;
	justify-content: center;
	height: 0vh;
/* 	background-color: rgb(189, 236, 255); */
}
